th {
  text-align: center;
}

.cart-item1 li {
  list-style-type: circle;
  display: block;
  color:#F4A460;
  font-size: 1rem;
}
.cart__img-box {
  width: 80px;
}

.cart__img-box img {
  width: 100%;
}

.cart__item-del i {
  cursor: pointer;
}

.cart__page-btn button a:hover {
  color: #fff;
}

.cart__subtotal {
  color: #CD853F;
  font-size: 1.05rem;
}

@media only screen and (max-width: 768px) {
  th,
  td {
    font-size: 0.6rem;
  }
  .cart-item1 li {
    font-size: 0.6rem;
  }
  
}


@media only screen and (max-width: 375px) {
  th,
  td {
    font-size: 0.5rem;
  }
  .cart-item1 li {
    font-size: 0.5rem;
  }
  
}


