/* #map{
    width: 100%;
    height: 50px;
} */
/* .mapContainer{
    width:100%;
    position: relative;
} */
/* .mapContainer a.direction-link {
    position: absolute;
    top: 55px;
    right: 55px;
    z-index: 100010;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    line-height: 25px;
    padding: 8px 20px 8px 50px;
    background: #F4A460;
    background-image: url('direction-icon.png');
    background-position: left center;
    background-repeat: no-repeat;
} */
/* .mapContainer a.direction-link:hover {
    text-decoration: none;
    background: #F4A460;
    color: #FFF;
    background-image: url('direction-icon.png');
    background-position: left center;
    background-repeat: no-repeat;
} */
.mapContainer a button.custom-btn {
    color: #F4A460;
}
body {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }